@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body{
  user-select: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



[data-theme="purple"] {
  --button-color: #7c4dff; /* Gomb színe purple témához */
  --button-hover: #9c66ff; /* Hover szín purple témához */
  background: radial-gradient(at 0% 0%, #000000 0px, transparent 50%),
   radial-gradient(at 3.5474581251836614% 25.18757982120051%, #000000c0 0px, transparent 50%),
   radial-gradient(at 9.054951513370554% 60.9845146871009%, #ff00ff0e 0px, transparent 80%),
   radial-gradient(at 9.054951513370554% 80.9845146871009%, #ff00ff0e 0px, transparent 80%), 
   radial-gradient(at 9.054951513370554% 100.9845146871009%, #ff00ff2d 0px, transparent 80%),
   radial-gradient(at 20.054951513370554% 100.9845146871009%, #ff00ff6b 0px, transparent 35%),
   radial-gradient(at 49.054951513370554% 120.9845146871009%, #c40be9d3 0px, transparent 50%),
   radial-gradient(at 47.71672054069938% 38.11222860791827%, #399cca 0px, transparent 50%),
   radial-gradient(at 63.052600646488386% 92.55667305236271%, #399cca 0px, transparent 50%),
   radial-gradient(at 67.71672054069938% 98.11222860791827%, #399cca 0px, transparent 50%), 
   radial-gradient(at 153.052600646488386% 42.55667305236271%, #2295ca 0px, transparent 50%), 
   radial-gradient(at 113.052600646488386% 82.55667305236271%, #2295ca 0px, transparent 50%),
   radial-gradient(at 113.052600646488386% 2.55667305236271%, #2295ca 0px, transparent 50%),
   radial-gradient(at 26.191007934175726% 100%, #000000 0px, transparent 50%) #5697cc;
  mix-blend-mode: normal;
}
/* Példa egy osztályra, amely a gombok színét beállítja a témához */  
[data-theme="green"] {
  --button-color: #388e3c;
  --_mesh-gradient-blur: 100px;
  --_mesh-gradient-blend-mode: normal;

  background: radial-gradient(
  at 0% 0%, #000000 0px, transparent 50%),
   radial-gradient(at 3.5474581251836614% 25.18757982120051%, #000000c0 0px, transparent 50%), 
   radial-gradient(at 39.054951513370554% 97.9845146871009%, #034749 0px, transparent 50%), 
   radial-gradient(at 19.054951513370554% 97.9845146871009%, #034749 0px, transparent 50%),
   radial-gradient(at 47.71672054069938% 38.11222860791827%, #4c9608 0px, transparent 50%), 
   radial-gradient(at 67.71672054069938% 98.11222860791827%, #4c9608 0px, transparent 50%), 
   radial-gradient(at 63.052600646488386% 92.55667305236271%, #4c9608 0px, transparent 50%), 
   radial-gradient(at 153.052600646488386% 42.55667305236271%, #ebe95cb7 0px, transparent 50%), 
   radial-gradient(at 113.052600646488386% 82.55667305236271%, #ebe95cb7 0px, transparent 50%),
   radial-gradient(at 113.052600646488386% 2.55667305236271%, #f0efb1b7 0px, transparent 50%),
   radial-gradient(at 26.191007934175726% 100%, #000000 0px, transparent 50%) #09525f;
  mix-blend-mode: var(--_mesh-gradient-blend-mode);

}
[data-theme="white"] {
  --_mesh-gradient-blur: 100px;
  --_mesh-gradient-blend-mode: normal;
  --button-color: #ffeb3b;

  background: radial-gradient(at 0% 0%, #000000 0px, transparent 50%), 
  radial-gradient(at 3.5474581251836614% 25.18757982120051%, #000000 0px, transparent 50%), 
  radial-gradient(at 39.054951513370554% 97.9845146871009%, #435cb6 0px, transparent 50%), 
  radial-gradient(at 67.71672054069938% 98.11222860791827%, #768ad0 0px, transparent 50%), 
  radial-gradient(at 63.052600646488386% 42.55667305236271%, #a15cc1 0px, transparent 50%), 
  radial-gradient(at 26.191007934175726% 100%, #000000 0px, transparent 50%) #957641;
  mix-blend-mode: var(--_mesh-gradient-blend-mode);
  
}
.bg-transparent {
  background-color: rgba(255, 255, 255, 0); 
  width: 15vw;
}

@media (max-width: 639px) {
  .bg-transparent {
    width: 30vw;
  }
}

.shadow{
  box-shadow: 0 0px 50px 10px rgba(0, 0, 0, 1);
}

.textshadow{
  text-shadow: 0px 0px 0px  white;
  transition: .3s;
}

.textshadow:hover{
  text-shadow: 0px 0px 20px  white;
}

option{
  background-color: rgba(0, 0, 0, 0.521);
}
/* Gombok színei */
.szakma-gomb {
  background: linear-gradient(45deg, var(--button-color), var(--button-hover)); /* Lineáris átmenet */
  color: white;
  padding: 20px 30px;
  border-radius: 50px 0px 0px 50px;
  height: 120px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
  width: 400px;
  text-align: left;
  filter: blur(3px);
  transform: translateX(50px);
  box-shadow: 0px 0px 10px 0px #000000;
}

.szakma-gomb.kiemelt {
  transform: translateX(-150px);
  filter: blur(0);
  box-shadow: 0px 0px 25px 1px #000000;
}